<%- include("./partials/adminHeader.ejs") %>
<section class="content">
    <h2>Added Blog Posts</h2>
    <% if(locals.blogList) { %>
    <div class="posts">
        <% blogList.forEach((blogs)=>{ %>
        <div class="post-card">
          <div class="post-content">
            <h3><%= blogs.title %></h3>
            <p><%= blogs.content.substring(0, 100) %>...</p>
            <button class="read-more-button"><a style="text-decoration: none; color: white" href="/addedBlog/<%= blogs._id %>">Read More...</a></button>
          </div>
        </div>
        <% }); %>
    </div>
    <% } %>
</section>
<%- include("./partials/adminFooter.ejs") %>   