<%- include("./partials/adminHeader.ejs") %>
<h2 style="padding: 20px 0px 0px 20px;">Statistics</h2>
<div class="stats-cards">
    <div class="stat-card">
        <h3>Total Users</h3>
        <p><%= totalUsers %></p>
    </div>
    <div class="stat-card">
        <h3>Total Requested Blogs</h3>
        <p><%= reqBlogs %></p>
    </div>
    <div class="stat-card">
        <h3>Total Added Blogs</h3>
        <p><%= addedBlogs %></p>
    </div>
</div>
</section>
<%- include("./partials/adminFooter.ejs") %>       
