<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/blog.css">
</head>
<body>
    <% if(locals.title) {%>
    <header>
        <h2>Author: <%= user %></h2>
    </header>
    <main>
        <article class="blog-post">
            <img width="100%" src="/images/<%= image %>" alt="Blog Image">
            <h2><%= title %></h2>
            <p class="content">
                <%= content %>
            </p>
            <% if(locals.reqBlog){ %>
                <% if(reqBlog=="true") {%>
                <button class="read-more"><a style="text-decoration: none; color: white" href="/add/<%= id %>">Add for Users</a></button>
                <button class="read-more"><a style="text-decoration: none; color: white" href="/remove/<%= id %>">Delete for Users</a></button>
                <% } %>
            <% } %>
        </article>
    </main>
    <% } %>
</body>
</html>
