<%- include("./partials/header.ejs") %>
      <!-- Hero Section -->
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-dark btn-lg px-4 gap-3" fdprocessedid="os9we5">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="cwso7wh">Secondary</button>
          </div>
        </div>
      </div>

      <!-- Blog Section -->
      <% if(locals.blogList) { %>
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% blogList.forEach((blogs)=>{ %>
            <div class="card m-3" style="width: 18rem;">
              <img src="images/<%= blogs.image %>" class="card-img-top p-2" alt="blog-image">
              <div class="card-body">
                <h5 class="card-title"><%= blogs.title %></h5>
                <p class="card-text"><%= blogs.content.substring(0, 100) %>...</p>
                <a href="/blog/<%= blogs._id %>">See More...</a>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <% } %>
<%- include("./partials/footer.ejs") %> 